<div id="body" class="active">
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">City</th>
                        <th scope="col">Number branch</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Count</th>
                        <th scope="col">Size</th>
                        <th scope="col">Success</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{name_user}}</td>
                            <td>{{phone_user}}</td>
                            <td>{{order_city}}</td>
                            <td>{{order_number_branch}}</td>
                            <td>{{title}}</td>
                            <td>{{price}}</td>
                            <td>{{product_count}}</td>
                            <td>{{product_size}}</td>
                            <td id="btn-order_success">
                                {{#if success}}
                                    <button type="button" class="btn btn-secondary" disabled>Завершено</button>
                                {{else}}
                                    <button data-id="{{id}}" class="btn btn-dark btn-done_order">Завершить</button>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>