<div class="admin-auth">
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form class="form-horizontal" action="/admin/auth" method="POST">
                    <span class="heading">АВТОРИЗАЦИЯ</span>
                    <div class="form-group">
                        <input name="login" type="text" class="form-control" placeholder="Login" required>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group help">
                        <input name="password" type="password" class="form-control" placeholder="Password" required>
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">ВХОД</button>
                    </div>
                </form>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
