
<div id="body" class="active">
    <div class="container">
        <div class="row">
            <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#addModal">
                Добавить товар
            </button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Img</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Category</th>
                        <th scope="col">In_stock</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                            <td style="width: 16% !important;"><img src="{{img}}" alt="" class="w-100"></td>
                            <td>{{title}}</td>
                            <td>{{description}}</td>
                            <td>{{price}}грн.</td>
                            <td>{{size}}</td>
                            <td>{{gender}}</td>
                            <td>{{category_name}}</td>
                            <td>
                                {{#if in_stock}}
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-square-o" aria-hidden="true"></i>
                                {{/if}}
                            </td>
                            <td class="d-flex justify-content-around"> 
                                <i class="fa fa-pencil-square-o fa-lg button-edit_product" 
                                data-id="{{id}}" data-title="{{title}}" data-price="{{price}}" data-img="{{img}}" data-description="{{description}}"
                                data-sizes="{{size}}" data-gender="{{gender}}" data-category_name="{{category_name}}" data-in_stock="{{in_stock}}"
                                aria-hidden="true" data-toggle="modal" data-target="#editModal"></i>
                                <i class="fa fa-times fa-lg button-delete_product" data-id="{{id}}" aria-hidden="true" data-toggle="modal" data-target="#deleteModal"></i>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
                                
            <!-- MODAL ADD PANEL -->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавить товар</h5>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/admin/add" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Название: </label>
                                    <input name="title" type="text" class="form-control" id="recipient-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Цена: </label>
                                    <input name="price" type="text" class="form-control" id="recipient-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">URL картинки: </label>
                                    <input name="img" type="text" class="form-control" id="recipient-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Описание: </label>
                                    <textarea name="description" cols="40" rows="10" class="form-control" id="recipient-name" required></textarea>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Размер: </label>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"XS"'>
                                        <label for="sizes">XS</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"S"'>
                                        <label for="sizes">S</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"M"'>
                                        <label for="sizes">M</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"L"'>
                                        <label for="sizes">L</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"XL"'>
                                        <label for="sizes">XL</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"XXL"'>
                                        <label for="sizes">XXL</label>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Пол: </label>
                                    <div>
                                        <input type="radio" id="gender1" name="gender" value="M" checked>
                                        <label for="gender1">Мужской</label>

                                        <input type="radio" id="gender2" name="gender" value="F">
                                        <label for="gender2">Женский</label>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Категория: </label>
                                    <select size="1" name="category" required> 
                                        <option disabled>Выберите категорию</option>
                                        <option value="shoes">Обувь</option> 
                                        <option value="jacket">Куртка</option> 
                                        <option value="hoody">Худи</option> 
                                        <option value="pants">Штаны</option> 
                                    </select>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">В наличии: </label>
                                    <input class="align-middle" style="height: 35px;" type="checkbox" id="recipient-name" name="in_stock" value="true" checked>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button class="btn btn-dark">Добавить товар</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END MODAL ADD PANEL -->

            <!-- MODAL EDIT PANEL -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Изменить товар</h5>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/admin/edit" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Название: </label>
                                    <input name="title" type="text" class="form-control" id="input-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Цена: </label>
                                    <input name="price" type="text" class="form-control" id="input-price" required>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">URL картинки: </label>
                                    <input name="img" type="text" class="form-control" id="input-img" required>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Описание: </label>
                                    <textarea name="description" cols="40" rows="10" class="form-control" id="input-description" required></textarea>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Размер: </label>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"XS"'>
                                        <label for="sizes">XS</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"S"'>
                                        <label for="sizes">S</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"M"'>
                                        <label for="sizes">M</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"L"'>
                                        <label for="sizes">L</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"XL"'>
                                        <label for="sizes">XL</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="sizes" name="sizes" value='"XXL"'>
                                        <label for="sizes">XXL</label>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Пол: </label>
                                    <div>
                                        <input type="radio" id="gender_m" name="gender" value="M">
                                        <label for="gender">Мужской</label>

                                        <input type="radio" id="gender_f" name="gender" value="F">
                                        <label for="gender">Женский</label>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Категория: </label>
                                    <select id="category" size="1" name="category" required> 
                                        <option disabled>Выберите категорию</option>
                                        <option value="shoes">Обувь</option> 
                                        <option value="jacket">Куртка</option> 
                                        <option value="hoody">Худи</option> 
                                        <option value="pants">Штаны</option> 
                                    </select>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">В наличии: </label>
                                    <input class="align-middle" style="height: 35px;" type="checkbox" id="input-in_stock" name="in_stock">
                                </div>
                                <!--
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Название: </label>
                                    <input name="title" type="text" class="form-control" id="input-name" value="">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Цена: </label>
                                    <input name="price" type="text" class="form-control" id="input-price" value="">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">URL картинки: </label>
                                    <input name="img" type="text" class="form-control" id="input-img" value="">
                                </div>
                                -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button class="btn btn-dark" id="productId" name="id" value="">Изменить товар</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END MODAL EDIT PANEL -->

            <!-- Modal delete panel -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Удалить товар?
                            </div>
                            <div class="modal-footer">
                                <form action="/admin/delete" method="POST">
                                    <button class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    {{#if isAdmin}} 
                                        <button class="btn btn-danger" name="id" id="productId" value="">Удалить</button>
                                    {{else}}
                                        <button class="btn btn-danger" disabled>Удалить</button>
                                    {{/if}}
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Modal delete panel -->
        
        </div>
    </div>
</div>
