<div id="body" class="active">
    <div class="container">
        <div class="row">
            {{#if isAdmin}}
            <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#addModal">
                Добавить сотрудника
            </button>
            {{else}}
            <button class="btn btn-dark" type="button" disabled>
                Добавить сотрудника
            </button>
            {{/if}}
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Login</th>
                        <th scope="col">Password</th>
                        <th scope="col">Position</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each staff}}
                        <tr>
                            <td>{{login_staff}}</td>
                            <td>{{password_hash}}</td>
                            <td>{{position_staff}}</td>
                            <td class="d-flex justify-content-around"> 
                                <i class="fa fa-times fa-lg button-delete_product" data-id="{{id}}" aria-hidden="true" data-toggle="modal" data-target="#deleteModal"></i>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <!-- MODAL ADD PANEL -->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавить сотрудника</h5>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/admin/staff" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Логин: </label>
                                    <input name="login" type="text" class="form-control" id="recipient-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Пароль: </label>
                                    <input name="password" type="password" class="form-control" id="recipient-name" required>
                                </div>
                                <div class="form-group d-flex justify-content-between mt-2">
                                    <label for="recipient-name" class="col-form-label">Должность: </label>
                                    <select size="1" name="position" required> 
                                        <option disabled>Выберите категорию</option>
                                        <option value="admin">Админ</option> 
                                        <option value="manager">Менеджер</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button class="btn btn-dark">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END MODAL ADD PANEL -->

            <!-- Modal delete panel -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Удалить сотрудника?
                            </div>
                            <div class="modal-footer">
                                <form action="/admin/staff/delete" method="POST">
                                    <button class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    {{#if isAdmin}} 
                                        <button class="btn btn-danger" name="id" id="productId" value="">Удалить</button>
                                    {{else}}
                                        <button class="btn btn-danger" disabled>Удалить</button>
                                    {{/if}}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Modal delete panel -->
        </div>
    </div>
</div>
            