<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <h1><a href="/">Staff</a></h1>
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/admin"><i class="fa fa-cart-arrow-down"></i> Товары</a>
        </li>
        <li>
            <a href="/admin/order"><i class="fa fa-industry"></i> Заказы</a>
        </li>
        <li>
            <a href="/admin/staff"><i class="fa fa-users"></i> Сотрудники</a>
        </li>
    </ul>
</nav>