<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <!-- Brand/logo -->
      <a class="navbar-brand" href="/"><h1>Staff</h1></a>
      
      <div class="header__menu_nav-container">
        <div class="header__nav-container" style="width: 100%;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="header__nav-up-link-top">
                {{#if isParnyam}}
                  <a class="nav-link link-active text-uppercase" href="/parnyam">Для парней</a>
                {{else}}
                  <a class="nav-link text-uppercase" href="/parnyam">Для парней</a>
                {{/if}}
              </div>
            </li>
            <li class="nav-item">
              <div class="header__nav-up-link-top">
                {{#if isDevushkam}}
                  <a class="nav-link link-active text-uppercase" href="/devushkam">Для девушек</a>
                {{else}}
                  <a class="nav-link text-uppercase" href="/devushkam">Для девушек</a>
                {{/if}}
              </div>
            </li>
            <li class="nav-item">
              <div class="header__nav-up-link-top">
                {{#if isDetyam}}
                  <a class="nav-link link-active text-uppercase" href="#">Для детей</a>
                {{else}}
                  <a class="nav-link text-uppercase" href="#">Для детей</a>
                {{/if}}
              </div>
            </li>
            <div class="header__icon-button-container">
              <li class="nav-item">
                <a href="/"><i class="fa fa-search text-white" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <i class="fa fa-user-o text-white dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                {{#if isAuth}}
                  <div class="dropdown-menu">
                    <a href="/auth/logout" class="dropdown-item">Выйти</a>
                  </div>
                {{else}}
                  <div class="dropdown-menu">
                    <a href="/auth" class="dropdown-item">Войти</a>
                    <a href="/auth/registration" class="dropdown-item">Регистрация</a>
                  </div>
                {{/if}}
                
              </li>
              <li class="nav-item">
                <a href="/favourites"><i class="fa fa-heart-o text-white" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a href="/card"><i class="fa fa-shopping-cart text-white" aria-hidden="true"></i></a>
              </li>
            </div>
          </ul>
        </div>
        <div class="header__nav-container">
          <ul class="navbar-nav">
            {{#if isParnyam}}
              <div class="header__nav-container-category">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-hidden="true">Одежда</a>
                  <div class="dropdown-menu">
                      <a href="/parnyam/jacket" class="dropdown-item text-dark">Куртка</a>
                      <a href="/parnyam/hoody" class="dropdown-item text-dark">Худи</a>
                      <a href="/parnyam/pants" class="dropdown-item text-dark">Штаны</a>
                    </div>
                </li>
              </div>
              <div class="header__nav-container-category">
                <li class="nav-item">
                  <a class="nav-link" href="/parnyam/shoes">Обувь</a>
                </li>
              </div>
            {{/if}}
            
            {{#if isDevushkam}}
              <div class="header__nav-container-category">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-hidden="true">Одежда</a>
                  <div class="dropdown-menu">
                      <a href="/devushkam/jacket" class="dropdown-item text-dark">Куртка</a>
                      <a href="/devushkam/hoody" class="dropdown-item text-dark">Худи</a>
                      <a href="/devushkam/pants" class="dropdown-item text-dark">Штаны</a>
                    </div>
                </li>
              </div>
              <div class="header__nav-container-category">
                <li class="nav-item">
                  <a class="nav-link" href="/devushkam/shoes">Обувь</a>
                </li>
              </div>
            {{/if}}
          </ul>
        </div>
      </div>
      <!-- Links -->
  </div>
  
</nav>