 <h4>Добавить новый продукт</h4>
 
 <form action="/add" method="POST">
  <div class="form-group">
    <label for="title">Название</label>
    <input id="title" name="title" type="text" class="form-control" placeholder="Введите название продукта" required>
  </div>
  <div class="form-group">
    <label for="price">Цена</label>
    <input id="price" name="price" type="text" class="form-control" placeholder="Введите цену продукта" required>
  </div>
  <div class="form-group">
    <label for="imgUrl">URL картинки</label>
    <input id="img" name="img" type="text" class="form-control" placeholder="Введите url картинки продукта" required>
  </div>

  <button class="btn btn-primary">Добавить продукт</button>
</form> 