<div class="auth">
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form class="form-horizontal" action="/auth" method="POST">
                    {{#if error}}
                        <p class="alert">{{error}}</p>
                    {{/if}}
                    <span class="heading">АВТОРИЗАЦИЯ</span>
                    <div class="form-group">
                        <input name="phone" type="text" class="form-control" placeholder="Номер телефона" value="+380" required>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="form-group help">
                        <input name="password" type="password" class="form-control" placeholder="Пароль" required>
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="form-group">
                        <div class="main-checkbox">
                            <input type="checkbox" value="none" id="checkbox1" name="check"/>
                            <label for="checkbox1"></label>
                        </div>
                        <span class="text">Запомнить</span>
                        <button type="submit" class="btn btn-default">ВХОД</button>
                    </div>
                </form>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
