
<div class="cart_content-container">
    <h4 class="cart_title-container text-uppercase text-center"><span class="title-page">Корзина</span></h4>

    <div id="card" class="cart_products-container">
        {{#if products.length}}
        <div class="cart_order-wrapper">
            <div class="cart_order">
                <div class="cart_positions">
                    {{#each products}}
                        <div class="cart_position">
                            <div class="cart_product">
                                <div class="cart_product-img">
                                    <img src="{{img}}" alt="{{title}}">
                                </div>
                                <div class="cart_product-info">
                                    <div>{{title}}</div>
                                    <div class="cart_product-size">Размер: {{size}}</div>
                                </div>
                            </div>
                            <div class="cart_order-data">
                                <div class="cart_quantity">
                                    <button class="cart_changeQuantity">+</button>
                                    <span name="id" value="{{id}}">{{count}}</span>
                                    <button class="cart_changeQuantity">–</button>
                                </div>
                                <div class="cart_price">{{price}} грн</div>
                                <button><i class="fa fa-trash-o fa-lg cart_delete" 
                                data-id="{{id}}" data-title="{{title}}" data-img="{{img}}" data-price="{{price}}" 
                                aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <input type="hidden" name="product_id" id="product_id" value="{{id}}">
                        <input type="hidden" name="product_count" id="product_count" value="{{count}}">
                    {{/each}}
                </div>
            
                <div class="cart_order-info">
                    <div class="cart_total-price">
                        <div class="cart_info-label">Сумма к оплате за товар</div>
                        <div class="cart_price">{{price}} грн</div>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="cart__input-wrapper col-md-12 my-5">
            <div class="col-sm-3">
                <h5 class="w-100">ОФОРМЛЕНИЕ ЗАКАЗА</h5>
                <hr>
            </div>
            <form action="/order" method="POST">
                <div class="d-flex">
                    {{#if user}}
                        <div class="col-md-4">
                            <input type="text" name="name" id="name" placeholder="Введите ФИО" value="{{user.full_name}}">
                            
                            <input type="tel" name="tel" id="tel" placeholder="Введите номер телефона" value="{{user.phone}}">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="city" id="city" placeholder="Введите название города">
                            <input type="number" name="numberBranch" id="numberBranch" placeholder="Введите номер отделения">
                        </div>
                    {{else}}
                        <div class="col-md-4">
                            <input type="text" name="name" id="name" placeholder="Введите ФИО">
                            
                            <input type="tel" name="tel" id="tel" placeholder="Введите номер телефона" value="+380">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="city" id="city" placeholder="Введите название города">
                            <input type="number" name="numberBranch" id="numberBranch" placeholder="Введите номер отделения">
                        </div>
                    {{/if}}
                    
                </div>
                <div class="order_btn mt-3">
                    <button class="btn btn-dark">ОФОРМИТЬ ЗАКАЗ</button>
                </div>
            </form>
        </div>
        {{else}}
            <h2 class="w-100 d-flex justify-content-center">В корзине нет товаров</h2>
        {{/if}}
    </div>
</div>