
    <h4 class="mt-4 text-uppercase text-center">Выберите раздел</h4>

    <div class="mt-4 d-flex justify-content-center">
        <div class="card mx-2">
            <img class="card-img" src="https://www.staff-clothes.com/static/images/boys.jpg" alt="">
            <a href="/parnyam">
                <div class="card-img-overlay text-white">
                    <h4 class="card-title text-uppercase">для парней</h4>
                </div>
            </a>
        </div>

        <div class="card mx-2">
            <img class="card-img" src="https://www.staff-clothes.com/static/images/girls.jpg" alt="">
            <a href="/devushkam">
                <div class="card-img-overlay text-white">
                    <h4 class="card-title text-uppercase">для девушек</h4>
                </div>
            </a>
        </div>

        <div class="card mx-2">
            <img class="card-img" src="https://www.staff-clothes.com/static/images/kids.jpg" alt="">
            <div class="card-img-overlay text-white">
                <h4 class="card-title text-uppercase">для детей</h4>
            </div>
        </div>
    </div>
