<div class="product_container">
    <div class="row d-flex justify-content-center">
        {{#if error}}
                <p class="alert">{{error}}</p>
            {{/if}}
        <div class="col-md-5">
            <div class="product_main-img">
                <img src="{{product.img}}" alt="{{product.title}}">
            </div>
        </div>

        <div class="col-md-6">
            <div class="product_form-container">
                <div>
                    <h3>{{product.title}}</h3>
                </div>

                <div>
                    <p class="product_price">{{product.price}} грн.</p>
                </div>

                <hr>
                
                <div class="product_order-form">
                    <div id="btn_product-size" class="product_size">
                        <p><strong>Размер</strong></p>
                        {{#each product.size}}
                            <button>{{this}}</button>
                        {{/each}}
                    </div>

                    <div class="product_order-buttons d-flex justify-content-between">
                        <div class="product_order-button">
                            <button id="order-btn" class="btn btn-success" name="id" value="{{product.id}}" 
                            data-title="{{product.title}}" data-img="{{product.img}}" data-price="{{product.price}}">
                            Добавить в корзину
                            </button>
                        </div>
                        <div class="product_order-button">
                            <button id="quick-order-btn" class="btn btn-secondary">Купить в один клик</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product_description row d-flex justify-content-center my-5">
        <h4 class="cart_title-container text-uppercase text-center"><span class="title-page">Описание</span></h4>
        <div class="col-md-6">
            <div class="wrap">
                {{product.description}}
            </div>
        </div>
    </div>
    <div class="my-5">
            <div class="d-flex justify-content-center">
                {{#if isAuth}}
                    <button type="button" class="btn btn-dark w-25" data-toggle="modal" data-target="#commentModal">Добавить отзыв</button>
                {{else}}
                    <button type="button" class="btn btn-dark w-25" disabled>Добавить отзыв</button>
                {{/if}}
            </div>
            <div class="w-100 d-flex justify-content-center my-5">
                <div class="col-md-6">
                    <div class="wrap">
                        {{#each reviews}}
                            <div>
                                <b>{{full_name}}</b>
                            </div>
                            <div>
                                {{comment}} 
                            </div>
                            <hr>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for review -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Добавить отзыв</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/product/review" method="POST">
        <div class="modal-body">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Отзыв:</label>
                <textarea name="comment" class="form-control" id="message-text"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button class="btn btn-dark" name="id" value="{{product.id}}">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Modal -->

