<h4 class="main_title-container text-uppercase text-center"><span class="title-page">Новинки</span></h4>

<div class="row">
    <div class="main_content-container">
        {{#if products.length}}
            {{#each products}}
                <div class="main_product-catalog">
                    <a href="/product/{{id}}">
                        <div class="card card-product mx-auto mb-3">
                            <img class="card-img-top mb-2" src="{{img}}" alt="{{title}}">
                            
                            <div class="card-body">
                                <p class="card-title">{{title}}</p>
                                <p class="card-text product_sizes">XS S M L XL XXL </p>
                                <p class="card-text product_price">{{price}} грн.</p>
                            </div>
                        </div>
                    </a>

                    <button class="product-card__like">
                        <input type="hidden" name="id" value="{{id}}">
                        <div>
                            <i class="fa fa-heart-o" aria-hidden="true" value="{{id}}"></i>
                        </div>
                    </button>

                </div>
            {{/each}}

        {{else}}
            <h3>Нет товара</h3>
        {{/if}}
    </div>
</div>