a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

a {
    background-color: transparent;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.title-page {
    border-bottom: 3px solid #000;
}

.alert {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, .3);
    color: red;
}

button {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


/* Navbar */

.header__menu_nav-container .header__nav-container .nav-item a {
    color: #ffffff;
}

.header__nav-up-link-top a:hover {
    border-bottom: 3px solid #fff;
}

.link-active {
    border-bottom: 3px solid #fff;
}

.header__menu_nav-container {
    color: white;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.header__nav-container {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.header__icon-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 20px;
}

.header__icon-button-container .nav-item {
    position: relative;
    margin-right: 25px;
    font-size: 18px;
}

.header__nav-container .navbar-nav {
    width: 100%;
}

.header__nav-up-link-top {
    margin-right: 50px;
    height: 25px;
    margin-bottom: 7px;
}

.header__nav-up-link-top a {
    font-weight: 580;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-family: "Ubuntu", sans-serif;
}

.header__nav-container-category {
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav-container-category li a{
    font-size: 13px;
    letter-spacing: 1.1px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-nav .header__icon-button-container .dropdown-menu .dropdown-item {
    color: #000;
}

/* End Navbar */


/* Catalog */

.card-product {
    border: none;
    height: 450px;
}

.card-product img {
    width: 100%;
    height: 70%;
    /*height: auto;*/
    transition: all 0.5s;
    object-fit: cover;  
}

.card-product p {
    margin-bottom: 0.5rem;
}

.product-card__like {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #fff;
}

.main_title-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.main_content-container {
    max-width: 1210px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 50px;
    padding: 50px 20px 0;
    /*margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);*/
}

.main_content-container .main_product-catalog {
    flex-shrink: 0;
    width: 275px;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}

.main_product-catalog {
    width: calc(25% - 15px);
    position: relative;
    /*margin-right: 25px;*/
    /*margin-bottom: 1rem;*/
}

.main_product-catalog .card-body {
    padding: 0;
}

.main_product-catalog .product_price {
    font-weight: 500;
    font-size: 14px;
}

.main_product-catalog .product_sizes {
    font-size: 11px;
    color: #b3b3b3;
}

.main_product-catalog a:hover img {
    transform: scale(1.05);
}

/* Catalog end */


/* Product page */

.product_container {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.product_container .product_price {
    font-weight: 500;
    font-size: 26px;
}

.product_container .product_main-img img {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;                                                          
}



.product_container .product_form-container {
    margin: 1rem 3rem;
}

.product_container .product_order-buttons .product_order-button {
    min-width: 200px;
    width: 45%;
}

.product_container .product_order-buttons .product_order-button button{
    width: 100%;
    height: 3rem;
}

.product_description .wrap {
    white-space: pre-line;
    font-size: 14px;
}

.product_order-form .product_size {
    margin-bottom: 1em;
}

#btn_product-size button:active, #btn_product-size button:focus {
    outline: none;
}
#btn_product-size button::-moz-focus-inner {
    border: 0;
}

.product__sizes--active {
    background-color: #eaeaea;
}

.product_order-form .product_size button {
    width: 2em;
}

/* Product Page end */


/* Cart Page */

.cart_content-container {
    width: 100%;
    margin: 0 auto 75px auto;
    padding: 80px 20px 0;
    max-width: 1210px;
}

.cart_title-container {
    margin-bottom: 60px;
}

.cart_order-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cart_order {
    display: flex;
    margin-bottom: 40px;
}

.cart_positions {
    width: 100%;
}

.cart_position {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #b3b3b3;
}

.cart_position:last-child {
    border-bottom: 1px solid #b3b3b3;
}

.cart_product {
    display: flex;
    padding: 30px 0;
    width: 50%;
    min-width: 375px;
    align-items: center;
}

.cart_product-img {
    width: 100px;
    min-width: 100px;
    height: 130px;
    margin-right: 30px;
    align-items: center;
    display: flex;
}

.cart_product-img img {
    width: 100%;
}

.cart_product-size {
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
}

.cart_order-data {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.cart_quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_price {
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.cart_delete {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.cart_quantity button {
    font-size: 25px;
    padding: 7px;
}

.cart_quantity span {
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.cart_order-info {
    min-width: 275px;
    max-width: 275px;
    margin-left: 30px;
    padding: 30px;
    background-color: #f9f9f9;
    word-wrap: break-word;
}

.cart_total-price {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cart__input-wrapper input {
    border: none;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 1em;
    width: 16em;
}

/* Cart Page end */

/* Auth Page */

.auth {
    width: 100%;
    height: 100%;
}

.form-horizontal{
    background: #fff;
    padding-bottom: 40px;
    border-radius: 15px;
    text-align: center;
   }
   .form-horizontal .heading{
    display: block;
    font-size: 35px;
    font-weight: 700;
    padding: 35px 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
   }
   .form-horizontal .form-group{
    padding: 0 40px;
    margin: 0 0 25px 0;
    position: relative;
   }
   .form-horizontal .form-control{
    background: #f0f0f0;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
   }
   .form-horizontal .form-control:focus{
    background: #e0e0e0;
    box-shadow: none;
    outline: 0 none;
   }
   .form-horizontal .form-group i{
    position: absolute;
    top: 12px;
    left: 60px;
    font-size: 17px;
    color: #c8c8c8;
    transition : all 0.5s ease 0s;
   }
   .form-horizontal .form-control:focus + i{
    color: #00b4ef;
   }
   .form-horizontal .fa-question-circle{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
   }
   .form-horizontal .fa-question-circle:hover{
    color: #000;
   }
   .form-horizontal .main-checkbox{
    float: left;
    width: 20px;
    height: 20px;
    background: #11a3fc;
    border-radius: 50%;
    position: relative;
    margin: 5px 0 0 5px;
    border: 1px solid #11a3fc;
   }
   .form-horizontal .main-checkbox label{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
   }
   .form-horizontal .main-checkbox label:after{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
   }
   .form-horizontal .main-checkbox input[type=checkbox]{
    visibility: hidden;
   }
   .form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
    opacity: 1;
   }
   .form-horizontal .text{
    float: left;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
   }
   .form-horizontal .btn{
    float: right;
    font-size: 14px;
    color: #fff;
    background: #00b4ef;
    border-radius: 30px;
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
   }
   @media only screen and (max-width: 479px){
    .form-horizontal .form-group{
    padding: 0 25px;
    }
    .form-horizontal .form-group i{
    left: 45px;
    }
    .form-horizontal .btn{
    padding: 10px 20px;
    }
   }

/* Auth Page end */

